.form {
    background-color: #003580;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 30px;

    .formContainer {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}